data/*
scDRS/*
bennystrobes/*
slurmy/.Rhistory
.snakemake/*
logs/*
results/*
figs/*
*.ipynb_checkpoints*
*nb-log*
temp/*
analysis/*.html
*.DS_Store
test.tmp
slurmy/config.yaml

# Katie's stuff, upstream of filtering
code/filtering/*
